body {
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    margin-top: 50px;
}

input[type="text"] {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
